<ion-view view-title="Find Ratio">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap">
        Please select Cement grade on the
        slider and the Ratio (cement:sand:aggregate) gets calculated instantly.
      </div>
    </div>

    <!-- Select Grade -->
    <div class="card">
      <!-- Title -->
      <div class="item item-divider">
         Select Cement grade
      </div>
      <!-- Slider selector for Cement grade-->
      <div class="item item-text-wrap">
         <!--<label class="item item-input">
            <input type="text" ng-model="postData.grade" placeholder="Concrete grade">
          </label> -->
         <div class="row">
           <div class="col col-80">
             <div class="range range-positive">
               M6
               <!--<i class="icon ion-minus-round"></i>-->
               <input type="range" ng-model="postData.grade"
                      name="Concrete grade" min="5" max="80"
                      value="20" step="5">
               <!-- <i class="icon ion-plus-round"></i> -->
               M80
             </div>
           </div>
           <div class="col col-center">
             <div class="col-cell-values">
               M{{postData.grade}}
             </div>
           </div>
         </div>
      </div>
    </div>
    
    <div class="card">
      <div class="item item-divider">
         Ratio
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <div class="col-cell-header">Cement</div>
          </div>
          <div class="col">
            <div class="col-cell-header">Sand</div>
          </div>
          <div class="col">
            <div class="col-cell-header">Aggregate</div>
          </div>
        </div>
        <div class="row">
          <div class="col center">
             <div class="col-cell-values">{{ratio().cement}}</div>
          </div>
          <div class="col center">
             <div class="col-cell-values">{{ratio().sand}}</div>
          </div>
          <div class="col center">
             <div class="col-cell-values">{{ratio().aggregate}}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Slider selector for Crushed / River sand proportion -->
    <div class="card">
      <div class="item item-divider">
         Crushed Sand (CS) / River Sand (RS)
      </div>
      <div class="item item-text-wrap">
         <div class="row">
           <div class="col">
             <div class="range range-positive">
               CS {{crushedSandProportion()}}%
               <!--<i class="icon ion-minus-round"></i>-->
               <input type="range" ng-model="postData.sandProportion"
                      name="Sand mix" min="0" max="100"
                      value="50" step="5">
               <!-- <i class="icon ion-plus-round"></i> -->
               RS {{riverSandProportion()}}%
             </div>
           </div>
         </div>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
         Ratio with Sand mix
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <div class="col-cell-header">Cement</div>
          </div>
          <div class="col">
            <div class="col-cell-header">Crushed Sand</div>
          </div>
          <div class="col">
            <div class="col-cell-header">River Sand</div>
          </div>
          <div class="col">
            <div class="col-cell-header">Aggregate</div>
          </div>
        </div>
        <div class="row">
          <div class="col center">
             <div class="col-cell-values">{{ratio().cement}}</div>
          </div>
          <div class="col center">
             <div class="col-cell-values">{{ratio().sand*crushedSandProportion()/100}}</div>
          </div>
          <div class="col center">
             <div class="col-cell-values">{{ratio().sand*riverSandProportion()/100}}</div>
          </div>
          <div class="col center">
             <div class="col-cell-values">{{ratio().aggregate}}</div>
          </div>
        </div>
      </div>
    </div>
      
    <div class="row">
      <div class="col"></div>
      <div class="col col-50">
        <button class="button button-block button-positive icon-right ion-chevron-right"
                type="submit">Find Quantities</button>
      </div>
      <div class="col"></div>
    </div>
      
    
  </ion-content>
</ion-view>
