<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Costs" class="page">
  <ion-content class="padding">
    <!-- Description -->
    <div class="card">
      <div class="item item-text-wrap page-title">
        This page is for costs.
      </div>
    </div>

    <!-- Table for Cement, Crushed sand, River sand, Aggregate
    quantities -->

    <div class="card">
      <div class="item item-divider">
        Enter Quantities
      </div>
      <div class="item item-text-wrap item-toggle">
        <strong>Unit:</strong> {{unit()}}
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableCum" >
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-text-wrap">
        <!-- Cement quantity -->
        <div class="row">
          <div class="col">
            <div class="col-cell-header">Cement</div>
          </div>
          <div class="col">
            <input type="number" ng-model="quantityData.cement" min="0" max="10000" />
          </div>
          <div class="col">
            <div class="col-cell-values">Bags</div>
          </div>
        </div>

        <!-- Crushed Sand quantity -->
        <div class="row">
          <div class="col">
            <div class="col-cell-header">Crushed Sand</div>
          </div>
          <div class="col">
            <input type="number" ng-model="quantityData.cs" min="0" max="10000" />
          </div>
          <div class="col">
            <div class="col-cell-values">{{unit()}}</div>
          </div>
        </div>

        <!-- River Sand quantity -->
        <div class="row">
          <div class="col">
            <div class="col-cell-header">River Sand</div>
          </div>
          <div class="col">
            <input type="number" ng-model="quantityData.rs" min="0" max="10000" />
          </div>
          <div class="col">
            <div class="col-cell-values">{{unit()}}</div>
          </div>
        </div>

        <!-- Aggregate quantity -->
        <div class="row">
          <div class="col">
            <div class="col-cell-header">Aggregate</div>
          </div>
          <div class="col">
            <input type="number" ng-model="quantityData.aggregate" min="0" max="10000" />
          </div>
          <div class="col">
            <div class="col-cell-values">{{unit()}}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Table for Cement, Crushed sand, River sand, Aggregate
    quantities -->

    <div class="card">
      <div class="item item-divider">
        Costs
      </div>
      <div class="item item-text-wrap">
        <!-- Cement quantity -->
        <div class="row">
          <div class="col">
            <div class="col-cell-header">Cement</div>
          </div>
          <div class="col">
            <div class="col-cell-values">{{calculateCost().cement}}</div>
          </div>
          <div class="col">
            <div class="col-cell-values">₹</div>
          </div>
        </div>

        <!-- Crushed Sand quantity -->
        <div class="row">
          <div class="col">
            <div class="col-cell-header">Crushed Sand</div>
          </div>
          <div class="col">
            <div class="col-cell-values">{{calculateCost().cs}}</div>
          </div>
          <div class="col">
            <div class="col-cell-values">₹</div>
          </div>
        </div>

        <!-- River Sand quantity -->
        <div class="row">
          <div class="col">
            <div class="col-cell-header">River Sand</div>
          </div>
          <div class="col">
            <div class="col-cell-values">{{calculateCost().rs}}</div>
          </div>
          <div class="col">
            <div class="col-cell-values">₹</div>
          </div>
        </div>

        <!-- Aggregate quantity -->
        <div class="row">
          <div class="col">
            <div class="col-cell-header">Aggregate</div>
          </div>
          <div class="col">
            <div class="col-cell-values">{{calculateCost().aggregate}}</div>
          </div>
          <div class="col">
            <div class="col-cell-values">₹</div>
          </div>
        </div>
      </div>
    </div>
    
  </ion-content>
</ion-view>
