<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap page-title">
        This is a handy guide for engineers on a construction site
        to find ratio, concrete grade, material quantities and grades.
        Please follow the following steps to use this app.
      </div>
    </div>
    <div class="list">
      <a class="item item-icon-left item-icon-right" href="#/tab/rates">
        <i class="icon ion-ionic"></i>
        1. Fill up datasheet for Rates
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/tab/ratio">
        <i class="icon ion-ionic"></i>
        2. Select concrete grade to find ratio
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/tab/quantity">
        <i class="icon ion-ionic"></i>
        3. Use or select ratio to find material quantities
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/tab/costs">
        <i class="icon ion-ionic"></i>
        4. Use or select quantities to find costs.
        <i class="icon ion-chevron-right"></i>
      </a>
    </div>

  </ion-content>
</ion-view>
