<ion-view view-title="About">
  <ion-content>
    <div class="card">
      <div class="item item-avatar">
        <img src="http://qph.is.quoracdn.net/main-thumb-65942946-200-lrawzzrrqkrririnxemhegytecgxquzn.jpeg">
        <h3>Santosh Kulkarni</h3>
        <p>Corporate Trainer in Construction & QMS</p>
      </div>
      <div class="item item-body">
        <p>
          "I believe in God - who reveals himself in the orderly
          harmony of the Universe. I believe that intelligence is
          manifested throughout all nature. The basics of scientific
          work is the conviction that the world is an ordered and
          comprehensible entity and not a thing of chance." - Albert Einstein
        </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
