/* Empty. Add your own CSS if you like */

.col-cell-header {
    padding: 5px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #f7f7f7;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.item {
    font-size: 12px;
    border-color: #FF1313;
}

.col-cell-values {
    padding: 5px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 40px;
    border-radius: 4px;
    background: #fff;
    text-align: center;
    font-size: 12px;
}

input[type="number"] {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    font-size: 40px;
    border-radius: 4px;
    background: #fff;
    text-align: center;
    font-size: 12px;
    background: #f7f7f7;
}